:root {
  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #242424;

  --color-text-highlighted: #ffe58f;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-button-background: #1a1a1a;
  --color-button-selected: #5555ff22;
  --color-input-background: rgb(59, 59, 59);
  --color-input-border: rgb(133, 133, 133);
  --color-input-unfilled: #aa7755;

  --color-level-0: hsl(0, 0%, 60%);
  --color-level-1: hsl(0, 50%, 60%);
  --color-level-2: hsl(30, 50%, 60%);
  --color-level-3: hsl(60, 50%, 60%);
  --color-level-4: hsl(120, 50%, 60%);
  --color-level-5: hsl(180, 50%, 60%);
  --color-level-6: hsl(240, 50%, 60%);
  --color-level-7: hsl(300, 50%, 60%);
}

:root {
  font-family: Avenir, Noto Sans, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: left;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-background);
  cursor: pointer;
  transition: border-color 1s;
}

button:hover {
  border-color: var(--color-link);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select.settings-select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2em 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: var(--color-button-background);
  cursor: pointer;
  transition: border-color 0.25s;
}

select.settings-select:hover {
  border-color: var(--color-link);
}

select.settings-select:focus,
select.settings-select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.selected {
  font-weight: bold;
  background-color: var(--color-button-selected);
}

table {
  text-wrap: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: var(--color-background);
  z-index: 10;
}

table.FullReviewTable {
  border-collapse: collapse;
}

.FullReviewTable th {
  white-space: wrap;
}

.FullReviewTable th,
.FullReviewTable td {
  border: 1px solid black;
  border: 0px;
  padding: 0.25em 0.5em;
  text-align: left;
}

.FullReviewTable td {
  overflow: hidden;
}

.verticalGrow,
.verticalShrink {
  width: auto;
  /* transition: all .5s ease; */
  overflow: hidden;
  min-height: 0;
  /* height: auto; */
  /* max-height: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* box-sizing: border-box; */
  position: relative;
}

/* Note: The animation is failing to change the height right now */
.verticalGrow {
  /* animation: showThenGrow .25s forwards; */
  display: flex;
}

.verticalShrink {
  /* animation: shrinkThenHide .25s forwards; */
  display: none;
}

/* For some reason these keyframes cannot actually decrease the height */
/* @keyframes showThenGrow {
  0% {
    display: none;
    max-height: 0;
  }

  1% {
    display: flex;
    max-height: 1%;
  }

  100% {
    display: flex;
    max-height: 100%;
  }
}

@keyframes shrinkThenHide {
  0% {
    display: flex;
    max-height: 100%;
  }

  99% {
    display: flex;
    max-height: 0;
  }

  100% {
    display: none;
    max-height: 0;
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-background: #ffffff;

    --color-text-highlighted: #b97100;
    --color-link: #646cff;
    --color-link-hover: #535bf2;
    --color-button-background: #f9f9f9;
    --color-button-selected: #e0e0ff;

    --color-input-background: #ffffff;
    --color-input-border: currentColor;
    --color-input-unfilled: #ffddaa;

    --color-level-0: hsl(0, 0%, 70%);
    --color-level-1: hsl(0, 60%, 70%);
    --color-level-2: hsl(30, 60%, 70%);
    --color-level-3: hsl(60, 60%, 70%);
    --color-level-4: hsl(120, 60%, 70%);
    --color-level-5: hsl(180, 60%, 70%);
    --color-level-6: hsl(240, 60%, 70%);
    --color-level-7: hsl(300, 60%, 70%);
  }
}